.git
.github
.gitignore
README.md
CHANGELOG.md
Dockerfile
.dockerignore
docker-compose.yml
.env
.env.backup
.phpunit.result.cache
.phpunit.cache
node_modules
npm-debug.log
yarn-error.log
storage/logs/*
storage/app/laravel-excel/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
tests/*
.php_cs
.php_cs.dist
.php-cs-fixer.php
phpunit.xml
.phpunit.result.cache
.phpstorm.meta.php
idea/
.vscode/
.DS_Store
Thumbs.db