*.log
.DS_Store
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
/.claude
/.github
/security-implementation
/screenshots
/sessions
PDS.md
pds_plan.md
/screenshots
/.kilocode
1753683755292-30b3431f487b4cc1863e57a81d78e289.sh
/tests
/.playwright-mcp
DEBUG.md
/specs
/.specify
/storage
/leave-management-tasks
/markdown-deprecated/
/OPCR/
/openspec/
AGENTS.md
test_pdf_debug.php
test_pdf.php
.clinerules
/PRPs/
/tests/
storage/logs/*
storage/framework/**
storage/app/
*.backup
bootstrap/cache/*.php
storage/app/public
.env.*
public/build/
public/hot
public/storage
/training
vendor/
npm-debug.log
cookies.txt
OPCR_LOGIN_EXAMPLES.md
OPCR_WORKFLOW.md
.kilocodemodes
docs/
test-results
holiday.md
CLAUDE.md
weekends.md
opcrIpcr
.env
.agent
opcr
PRPs
debug_auth.php
mysql_redis_server.md
nixpacks.toml.backupss
config\database.php
config\filesystems.php
config\mail.php
config\redis.php
